MONGODB_URI=
MONGODB_DB_NAME=
SUMUP_MODE=
SUMUP_API_KEY_TEST=
SUMUP_MERCHANT_CODE_TEST=
SUMUP_API_KEY_LIVE=
SUMUP_MERCHANT_CODE_LIVE=
SUMUP_API_BASE_URL=
SUMUP_CURRENCY=
SUMUP_WEBHOOK_URL=
SUMUP_CHECKOUT_RETURN_URL=
ALLOW_TEMP_LIVE_PAYMENT_URLS=
APP_BASE_URL=
ENABLE_TEST_CONTROLS=
ENABLE_ADMIN_TOOLS=
ADMIN_USERNAME=
ADMIN_PASSWORD=
